* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #083B4C;
}

h1 {
    text-align: center;
    color: white;
}



#contenitore {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 0 auto;
    
}

#contenitore .square {
    width: calc((100% / 7) - 20px);
    height: 50px;
    padding: 45px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}

.fizz {
    background-color: #0CD6A1;
}

.buzz {
    background-color: #FFD166;
}

.fizzBuzz {
    background-color: #F0466F;
}

.normal {
    background-color: #1389B2;
}